<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">NameAr</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Country of this.CountryService.countries">
          <th scope="row">{{ Country.id }}</th>
          <td>{{ Country.code }}</td>
          <td>{{ Country.name }}</td>
          <td>{{ Country.nameAr }}</td>
          <td>
            <div class="text-center">
            <a (click)="this.CountryService.Update(Country)" class="p-2">

            <i  class="fa-solid fa-pen-to-square"></i>
            </a>
            <a (click)="this.CountryService.Delete()" class="p-2">
              <i  class="fa-solid fa-trash text-danger"></i>
            </a>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
