
<form  [formGroup]="CountryDetailsForm" (ngSubmit)="submitForm()">
<div class="row">

      <div class="form-group col-md-6">
        <label for="inputEmail4">Name</label>
        <input type="email" formControlName="Name" class="form-control" id="inputEmail4" placeholder="Name">
        <span id="passwordHelpInline" *ngIf="this.Name.invalid && Name.touched" class="form-text">
          Name Requiered && Less 100 Chars
        </span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">NameAr</label>
        <input type="text" formControlName="NameAr" class="form-control" id="inputPassword4" placeholder="NameAr">
        <span id="passwordHelpInline" *ngIf="this.NameAr.invalid && NameAr.touched" class="form-text">
          NameAr Requiered && Less 100 Chars
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Code</label>
      <input type="text" formControlName="Code" class="form-control" id="inputAddress" placeholder="Code">
      <span id="passwordHelpInline" *ngIf="this.Code.invalid && Code.touched" class="form-text">
        Code Requiered && Less 100 Chars
      </span>
    </div>
   
    <button type="submit" class="btn btn-primary">Save</button>
    <button (click)="Cancel()" class="btn btn-primary">Cancel</button>
  </form>